@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* bg is FAFAF8 and fg is 1E1E1E */
    --background: 60 27% 98%;
    --foreground: 0 0% 12%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    /* --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%; */
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    /* white */
    --muted: 0 0% 100%;
    --muted-foreground: 0 0% 64.9%;

    --border: 0 0% 12%;
    --input: 0 0% 12%;

    --ring: 240 5.9% 10%;
    --radius: 0.75rem;

    --accent-1: #cb53cd;
    --accent-2: #8d13d7;
  }

  /* from top (background) to transparent */
  .navbar-gradient {
    background: linear-gradient(
      180deg,
      hsl(var(--background) / 1) 55%,
      hsla(var(--background) / 0) 100%
    );
  }

  /* no dm rn */
  /* .dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	} */
}

mapbox-search-box {
  margin-top: 4px !important;
}

mapbox-search-box input {
  border: 1px solid #1e1e1e !important;
  border-radius: var(--radius) !important;
  background: var(--foreground) !important;
  height: 40px !important;
  font-weight: 500 !important;
  @apply !text-sm !text-foreground;
}

/* mapbox-search-box that contains class text searchicon (match) */
/* .mbx0ee5a879--SearchIcon  secound part of the class name */
mapbox-search-box [class*="SearchIcon"] {
  fill: var(--foreground) !important;
}
mapboxgl-control-container {
  display: none;
}

mapbox-search-listbox [class*="--Results"] {
  background: #fbfbf9 !important;
  @apply shadow-lg;
}
